<script>

</script>
<div class="menuNav">
  <nav>
    <a class="menuNav_links" href="#" title="S"><span class="inBox">Listen</span>Listen</a>
    <a class="menuNav_links" href="#" title="S"><span class="inBox">Shop</span>Shop</a>
    <a class="menuNav_links" href="#" title="S"><span class="inBox">Events</span>Events</a>
  </nav>
  <% if(!user) { %>
    <div class="login_register">
        <a class="login_register_links" href="/users/login" title="S"><span class="inBox">Login</span>Login</a>
        <a class="login_register_links" href="/users/register" title="S"><span class="inBox">Register</span>Register</a>
    </div>
  <%} %>
  <% if(user) { %>
    <div class="login_register">
        <a class="login_register_links" href="/users/register" title="S"><span class="inBox"><%=user.name%></span><%=user.name%></a>
        <a class="login_register_links" href="/users/logout" title="S"><span class="inBox">Login</span>LogOut</a>
    </div>
  <%} %>
</div>
<div class="navLeft">
  <div class="menu">
    <div id="menu_bar1" class="menu_bars"></div>
    <div id="menu_bar2" class="menu_bars"></div>
    <div id="menu_bar3" class="menu_bars"></div>
  </div>
  <div class="logo">
    <h1>BB Music</h1>
  </div>
</div>
