<div class="navRight">
  <div class="polygon_nowPLaying">
    <div class="music_player_closed">
      <span class="icon-music"></span>
    </div>
    <div class="nowPlaying_texts nowPlaying_artist">
      <span>Porcupine tree</span>
    </div>
    <div class="nowPlaying_texts nowPlaying_song">
      <span>Start of something beautiful</span>
    </div>
    <div class="music_player">
      <span class="icon-backward"></span>
      <span class="music_play icon-play"></span>
      <span class="icon-forward"></span>
    </div>
  </div>
</div>
