<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
  <link rel="stylesheet" href="/media/css/style.css" />
  <link rel="stylesheet" href="/media/css/bootstrap.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
						<% if(user) { %>
							<li role="presentation"><a href="/">Dashboard</a></li>
							<li role="presentation"><a href="/users/logout">Logout</a></li>
						<%} %>
						<% if(!user) { %>
							<li role="presentation"><a href="/users/login">Login</a></li>
							<li role="presentation"><a href="/users/register">Register</a></li>
						<%} %>
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div>



            <!---okkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->
            <img src=<%=img.destination +'/'+img.filename%>>


      </div>

      <footer class="footer">
        <p>&copy; 2015 LoginApp, Inc.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
