<% layout('layout') -%>
<script>
$(document).ready(function(){
  $("#get-button-albumsInfo").on('click',function(e){
    e.preventDefault();
       $.ajax({
         url: '/songs/getAlbumInfo',
         contentType : 'application/json',
         method : 'POST',
         data: JSON.stringify({albumName : $("#albumListInput").val(),artistName : $("#artistListInput").val()}),
         success : function(album){
           var tbodyEl = $('.album_info');
           tbodyEl.html('');
           tbodyEl.append('<div class="albumAjax"></div>');
           var albumAjaxBody = tbodyEl.find(".albumAjax");
           albumAjaxBody.append('\
             <div class="albumRow">\
             <label class="albumLabel" for='+album.albumInfo.price+'>Price : '
             +'</label><input class="albumEditForms album_input_price" id="'+album.albumInfo.price+
             '" type="text" name="albumListRadio" value="'+album.albumInfo.price+'">\
             </div>\
             ');
           $(".albumAjax").show({duration:'400ms',queue:false});
         }
       });
     });
     $("#get-button-albums").on('click',function(e){
       e.preventDefault();
          $.ajax({
            url: '/songs/getAlbumsByArtist',
            contentType : 'application/json',
            method : 'POST',
            data: JSON.stringify({name : $("#artistListInput").val()}),
            success : function(albums){
              console.log("albums");
              var tbodyEl = $('#albumSelectionForm');
              tbodyEl.html('');
              tbodyEl.append('<div class="albumAjax"></div>');
              var albumAjaxBody = $(".albumAjax");
              albums.forEach(function(album){
              albumAjaxBody.append('\
                <div class="artistRow">\
                <label class="artistLabel" for='+album.name+'>'+album.name+'</label><input class="albumRadioBtns" id="'+album.name+'" type="radio" name="albumListRadio" value="'+album.name+'">\
                </div>\
                ');
              });
              $(".albumAjax").show({duration:'400ms',queue:false});
            }
          });
        });
  $("#get-button").on('click',function(e)
  {
    e.preventDefault();
       $.ajax({
         url: '/songs/getArtistsList',
         contentType : 'application/json',
         method : 'POST',
         data: JSON.stringify({name : $("#artistListInput").val()}),
         success : function(response){
           console.log("artists");
           var tbodyEl = $('.artistAjax');
           tbodyEl.html('');
           response.artists.forEach(function(artist){
           tbodyEl.append('\
             <div class="artistRow">\
             <label class="artistLabel" for='+artist.name+'>'+artist.name+'</label><input artistId="'+artist.id+'" class="artistRadioBtns" id="'+artist.name+'" type="radio" name="artistListRadio" value="'+artist.name+'">\
             </div>\
             ');
           });
           $(".artistAjax").show({duration:'400ms',queue:false});
         }
       });
     });
     $("#artistSelectionForm").on('click','.artistRadioBtns',function(){
          $('.artistRadioBtns').on('change',function(){
            $(".albumAjax").hide({duration:'400ms',queue:false});
            $(".albumAjax").detach();
            var newClick = $("#artistSelectionForm input[name=artistListRadio]:checked").val();
            $("#artistListInput").val(newClick);
          });
       });
       $("#albumSelectionForm").on('click','.albumRadioBtns',function(){
            $('.albumRadioBtns').on('change',function(){
              var newClick = $("#albumSelectionForm input[name=albumListRadio]:checked").val();
              $("#albumListInput").val(newClick);
            });
         });
     });


</script>
<div class="formContainer">

  <form method="post" action="/songs/submit" enctype="multipart/form-data">
     <div class="form-row">
      <a href="#" class="ajaxBTNS" id="get-button">Enter new artist or click to search artist name</a>
      <input id="artistListInput" type="text" class="form-input" placeholder="artist name..." name="name">
      <div id="artistSelectionForm">

        <div class="artistAjax">

        </div>
      </div>

    </div>
    <div class="form-row albums">
      <a href="#" class="ajaxBTNS" id="get-button-albums">Enter new Album or click to search artist's albums</a>
      <input id="albumListInput" type="text" class="form-input" placeholder="artist name..." name="name">
      <div id="albumSelectionForm">
        <div class="albumAjax"></div>
      </div>
    </div>
    <div class="form-row albums">
        <a href="#" class="ajaxBTNS" id="get-button-albumsInfo">Click to Load or Insert albums</a>
      <div class="album_info">


      </div>

    </div>
    <div class="form-row form-row-half">
     <label>Track number in Album</label>
     <input type="text" class="form-input" placeholder="track number in Album..." name="trackNumber">
   </div>
   <div class="form-row form-row-half right">
    <label>Price</label>
    <input type="text" class="form-input" placeholder="price..." name="price">
   </div>
   <div class="form-row">
    <label>Lyrics</label>
    <input type="text" class="form-input" placeholder="lyrics..." name="lyrics">
   </div>
   <div class="form-row">
    <label>Upload song</label>
    <div class="chooseFileContainer">
      <label id="chooseFileBtn" for="browseFile">Choose file</label>
      <input id="browseFile" type="file" class="form-input" placeholder="" name="songFile">
    </div>

   </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>
