<html>
<head>
  <title>My music store</title>
  <link rel="stylesheet" href="https://www.kika.com.ua/assets/bbfonts/stylesheet.css" />
  <link rel="stylesheet" href="https://storage.googleapis.com/bbmusicstore/media/css/normalize.css" />
  <link rel="stylesheet" href="https://storage.googleapis.com/bbmusicstore/media/css/index.css" />
  <script src="media/js/jquery.js" type="text/javascript"></script>
  <script>
  jQuery.fn.clickToggle = function(a,b) {
  function cb(){ [b,a][this._tog^=1].call(this); }
  return this.on("click", cb);
  };
    $(document).ready(function(){
      var width = $(window).width();
      var clickState = false;
      $(".menu").clickToggle(function(){
        $("#menu_bar2").css("opacity","0");
        $("#menu_bar1").css({"transform":"rotate(135deg)","top":"8px"});
        $("#menu_bar3").css({"transform":"rotate(-135deg)","top":"8px"});
        $(".menuNav").css({"width":"30%"});
        $(".menu_bars").css({"background-color":"#000"});
        $(".logo h1").css({"color":"#000"});
        $(".menuNav_links").css({"opacity":"1"});
      },function(){
        $("#menu_bar2").css("opacity","1");
        $(".logo h1").css({"color":"#fff"});
        $(".menu_bars").css({"background-color":"#fff"});
        $("#menu_bar1").css({"transform":"rotate(0deg)","top":"0"});
        $("#menu_bar3").css({"transform":"rotate(0deg)","top":"16px"});
        $(".menuNav_links").css({"opacity":"0"});
        $(".menuNav").css({"width":"0"});
      });
      $(".music_player_closed span").on("click",function(){
        $(this).css({"display":"none","opacity":"0"});
        $(".polygon_nowPLaying").css({"width":"100%","height":"100%","margin-top":"0","-webkit-clip-path":"polygon(0 0, 100% 0%, 100% 65%, 75% 100%)","clip-path":"polygon(0 0, 100% 0%, 100% 65%, 75% 100%)"});
        $(".nowPlaying_texts").css({"display":"block","opacity":"1"});
        $(".music_player").css({"display":"block","opacity":"1"});
      });
      $(".music_play").clickToggle(function(){
          $(".music_play").removeClass("icon-play").addClass("icon-pause");
      },function(){
          $(".music_play").removeClass("icon-pause").addClass("icon-play");
      })
      $(".polygon_nowPLaying").mouseleave(function(){
        $(".music_player_closed span").css({"display":"block","opacity":"1"});
  $(".polygon_nowPLaying").css({"width":"12%","height":"25%","margin-top":"40px","-webkit-clip-path":"polygon(0 0, 100% 0%, 100% 100%, 0% 100%)","clip-path":"polygon(0 0, 100% 0%, 100% 100%, 0% 100%)"});
        $(".nowPlaying_texts").css({"display":"none","opacity":"0"});
        $(".music_player").css({"display":"none","opacity":"0"});
      });
      $(".learn_more").mouseenter(function(){
        $(".landin_image").css({"transform":"scale(1.1)"});
      });
      $(".learn_more").mouseleave(function(){
        $(".landin_image").css({"transform":"scale(1)"});
      });
      $(".menuNav_links").mouseenter(function(){
        $(this).find(".inBox").css({"opacity":"1","width":"80%"});

      });
      $(".menuNav_links").mouseleave(function(){
        $(this).find(".inBox").css({"opacity":"0","width":"100%"});

      });
      $(".login_register_links").mouseenter(function(){
        $(this).find(".inBox").css({"opacity":"1","width":"80%"});

      });
      $(".login_register_links").mouseleave(function(){
        $(this).find(".inBox").css({"opacity":"0","width":"100%"});

      });
      $(".learn_more").on("click",function(){
        $(".welcome").css({"opacity":"0","display":"none"});
        $(".landing").css({"left":-width});
        $(".artists").css("right","0");
      });
      $(".artistFrames").mouseenter(function(){
        $(this).find(".artistHover").css({"opacity":"1","transform":"scale(1)"});
      });
      $(".artistFrames").mouseleave(function(){
        $(this).find(".artistHover").css({"opacity":"0","transform":"scale(1.2)"});
      });
  });
  </script>
</head>
<body>
  <div class="wrapper">
    <div class="menuNav">
      <nav>
        <a class="menuNav_links" href="#" title="S"><span class="inBox">Listen</span>Listen</a>
        <a class="menuNav_links" href="#" title="S"><span class="inBox">Shop</span>Shop</a>
        <a class="menuNav_links" href="#" title="S"><span class="inBox">Events</span>Events</a>
      </nav>
      <div class="login_register">
          <a class="login_register_links" href="#" title="S"><span class="inBox">Login</span>Login</a>
          <a class="login_register_links" href="#" title="S"><span class="inBox">Register</span>Register</a>
      </div>

    </div>
    <div class="navLeft">
      <div class="menu">
        <div id="menu_bar1" class="menu_bars"></div>
        <div id="menu_bar2" class="menu_bars"></div>
        <div id="menu_bar3" class="menu_bars"></div>
      </div>
      <div class="logo">
        <h1>BB Music</h1>
      </div>
    </div>
    <div class="navRight">
      <div class="polygon_nowPLaying">
        <div class="music_player_closed">
          <span class="icon-music"></span>
        </div>
        <div class="nowPlaying_texts nowPlaying_artist">
          <span>Porcupine tree</span>
        </div>
        <div class="nowPlaying_texts nowPlaying_song">
          <span>Start of something beautiful</span>
        </div>
        <div class="music_player">
          <span class="icon-backward"></span>
          <span class="music_play icon-play"></span>
          <span class="icon-forward"></span>
        </div>
      </div>
    </div>
    <section class="landing">
      <div class="landing_image_container">
          <img class="landin_image" src="media/img/landing.jpg" />

      </div>

        <div class="welcome">
          <h2>A place to Listen<br />&nbsp&nbsp;Share, buy and sell  music<br /></h2>
          <a href="#" class="learn_more">Learn more...</a>
        </div>


    </section>
    <section class="artists">
      <span class="scroll-btn">
          <a href="#">
            <span class="mouse">
              <span>
              </span>
            </span>
          </a>
          <p>scroll for more</p>

          </span>

      <div class="artistsHome">
        <div class="artistLeft artistFrames">
          <div class="artistHover">
            <div class="artistInfo">
              <div class="artistHoverRows artistHoverName">
                <h3 class="artistName"><%=artists[0].name%></h3>
              </div>
              <div class="artistHoverRows">
                <h4 class="artistListeners">Listeners : 4,682,193</h4>
              </div>
            </div>

          </div>
          <div class="artistImage">
            <img src="media/img/muse.jpg" />
          </div>

        </div>
        <div class="artistMid artistFrames">
          <div class="artistHover">
            <div class="artistInfo">
              <div class="artistHoverRows artistHoverName">
                <h3 class="artistName">Muse</h3>
              </div>
              <div class="artistHoverRows">
                <h4 class="artistListeners">Listeners : 4,682,193</h4>
              </div>
            </div>

          </div>
          <div class="artistImage">
            <img src="media/img/drake.jpg" />
          </div>
        </div>
        <div class="artistRight artistFrames">
          <div class="artistHover">
            <div class="artistInfo">
              <div class="artistHoverRows artistHoverName">
                <h3 class="artistName">Muse</h3>
              </div>
              <div class="artistHoverRows">
                <h4 class="artistListeners">Listeners : 4,682,193</h4>
              </div>
            </div>

          </div>
          <div class="artistImage">
            <img src="media/img/cohen.jpg" />
          </div>

        </div>
      </div>
    </section>
  </div>

</body>
</html>
