<html>
<head>
  <title>My music store</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/bbmusicstore/media/css/normalize.css" />
  <link rel="stylesheet" href="https://www.kika.com.ua/assets/bbfonts/stylesheet.css" />
  <link rel="stylesheet" href="https://storage.googleapis.com/bbmusicstore/media/css/index.css" />
  <link rel="stylesheet" href="https://storage.googleapis.com/bbmusicstore/media/css/base.css" />
  <script src="/media/js/jquery.js" type="text/javascript"></script>
  <script src="/media/js/jquery.scrollbar.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/media/css/perfect-scrollbar.min.css" />

  <script>
  jQuery.fn.clickToggle = function(a,b) {
  function cb(){ [b,a][this._tog^=1].call(this); }
  return this.on("click", cb);
  };
    $(document).ready(function(){
      var width = $(window).width();
      var height = $(window).height();
      $(".bodyContent").css("min-height",height -130);
      $(window).resize(function(){
        width = $(window).width();
        height = $(window).height();
          $(".bodyContent").css("min-height",height -130);
      });
      var clickState = false;
      $(".menu").clickToggle(function(){
        $("#menu_bar2").css("opacity","0");
        $("#menu_bar1").css({"transform":"rotate(135deg)","top":"8px"});
        $("#menu_bar3").css({"transform":"rotate(-135deg)","top":"8px"});
        $(".menuNav").css({"width":"30%"});
        $(".menu_bars").css({"background-color":"#000"});
        $(".logo h1").css({"color":"#000"});
        $(".menuNav_links").css({"opacity":"1"});
      },function(){
        $("#menu_bar2").css("opacity","1");
        $(".logo h1").css({"color":"#fff"});
        $(".menu_bars").css({"background-color":"#fff"});
        $("#menu_bar1").css({"transform":"rotate(0deg)","top":"0"});
        $("#menu_bar3").css({"transform":"rotate(0deg)","top":"16px"});
        $(".menuNav_links").css({"opacity":"0"});
        $(".menuNav").css({"width":"0"});
      });
      $(".learn_more").mouseenter(function(){
        $(".landin_image").css({"transform":"scale(1.1)"});
      });
      $(".learn_more").mouseleave(function(){
        $(".landin_image").css({"transform":"scale(1)"});
      });
      $(".menuNav_links").mouseenter(function(){
        $(this).find(".inBox").css({"opacity":"1","width":"80%"});

      });
      $(".menuNav_links").mouseleave(function(){
        $(this).find(".inBox").css({"opacity":"0","width":"100%"});

      });
      $(".login_register_links").mouseenter(function(){
        $(this).find(".inBox").css({"opacity":"1","width":"80%"});

      });
      $(".login_register_links").mouseleave(function(){
        $(this).find(".inBox").css({"opacity":"0","width":"100%"});

      });
      $(".learn_more").on("click",function(){
        $(".welcome").css({"opacity":"0","display":"none"});
        $(".landing").css({"left":-width});
        $(".artists").css("right","0");
      });
      $(".menuNav_links").eq(0).on("click",function(){
        $.ajax({
          url: '/fromLanding',
          contentType : 'application/json',
          method : 'POST',
          data: JSON.stringify({priority:0}),
          success : function(response){
            var artists = response.artists;

            lastArtistPriority = response.artists[2].priority;
            var artistLeft = $(".artistLeft");
            var artistMid = $(".artistMid");
            var artistRight = $(".artistRight");


            if(typeof(artists[1]) != 'undefined')
            {
              artistLeft.find('.indexArtist').prop("href","/artists/"+artists[1].name);
              artistLeft.find(".indexArtist").attr("title",artists[1].name);
              artistLeft.find(".artistName").html(artists[1].name);//
              artistLeft.find(".artistListeners").html("Released Albums : " + artists[1].albums.length);
              artistLeft.find(".artistImage").children().attr("src",artists[1].images.artistPage);
            }
            else{
              artistLeft.find('.indexArtist').prop("href","#");
              artistLeft.find(".indexArtist").attr("title","");
              artistLeft.find(".artistName").html("");//
              artistLeft.find(".artistListeners").html("");
              artistLeft.find(".artistImage").children().attr("src","");
            }

            if(typeof(artists[0]) != 'undefined')
            {
              artistMid.find('.indexArtist').prop("href","/artists/"+artists[0].name);
              artistMid.find(".indexArtist").attr("title",artists[0].name);
              artistMid.find(".artistName").html(artists[0].name);
              artistMid.find(".artistListeners").html("Released Albums : " + artists[0].albums.length);
              artistMid.find(".artistImage").children().attr("src", artists[0].images.artistPage);
            }
            else{
              artistMid.find('.indexArtist').prop("href","#");
              artistMid.find(".indexArtist").attr("title","");
              artistMid.find(".artistName").html("");//
              artistMid.find(".artistListeners").html("");
              artistMid.find(".artistImage").children().attr("src","");
            }
            if(typeof(artists[2]) != 'undefined')
            {
              artistRight.find('.indexArtist').prop("href","/artists/"+artists[2].name);
              artistRight.find(".indexArtist").attr("title",artists[2].name);
              artistRight.find(".artistName").html(artists[2].name);
              artistRight.find(".artistListeners").html("Released Albums : " + artists[2].albums.length);
              artistRight.find(".artistImage").children().attr("src",artists[2].images.artistPage);
            }
            else{
              artistRight.find('.indexArtist').prop("href","#");
              artistRight.find(".indexArtist").attr("title","");
              artistRight.find(".artistName").html("");//
              artistRight.find(".artistListeners").html("");
              artistRight.find(".artistImage").children().attr("src","");
            }
          }
        });
      });
      $(".menuNav_links").eq(1).on("click",function(){
        $.ajax({
          url: '/fromLanding',
          contentType : 'application/json',
          method : 'POST',
          data: JSON.stringify({priority:0}),
          success : function(response){
            var artists = response.artists;

            lastArtistPriority = response.artists[2].priority;
            var artistLeft = $(".artistLeft");
            var artistMid = $(".artistMid");
            var artistRight = $(".artistRight");


            if(typeof(artists[1]) != 'undefined')
            {
              artistLeft.find('.indexArtist').prop("href","/artists/"+artists[1].name);
              artistLeft.find(".indexArtist").attr("title",artists[1].name);
              artistLeft.find(".artistName").html(artists[1].name);//
              artistLeft.find(".artistListeners").html("Released Albums : " + artists[1].albums.length);
              artistLeft.find(".artistImage").children().attr("src",artists[1].images.artistPage);
            }
            else{
              artistLeft.find('.indexArtist').prop("href","#");
              artistLeft.find(".indexArtist").attr("title","");
              artistLeft.find(".artistName").html("");//
              artistLeft.find(".artistListeners").html("");
              artistLeft.find(".artistImage").children().attr("src","");
            }

            if(typeof(artists[0]) != 'undefined')
            {
              artistMid.find('.indexArtist').prop("href","/artists/"+artists[0].name);
              artistMid.find(".indexArtist").attr("title",artists[0].name);
              artistMid.find(".artistName").html(artists[0].name);
              artistMid.find(".artistListeners").html("Released Albums : " + artists[0].albums.length);
              artistMid.find(".artistImage").children().attr("src", artists[0].images.artistPage);
            }
            else{
              artistMid.find('.indexArtist').prop("href","#");
              artistMid.find(".indexArtist").attr("title","");
              artistMid.find(".artistName").html("");//
              artistMid.find(".artistListeners").html("");
              artistMid.find(".artistImage").children().attr("src","");
            }
            if(typeof(artists[2]) != 'undefined')
            {
              artistRight.find('.indexArtist').prop("href","/artists/"+artists[2].name);
              artistRight.find(".indexArtist").attr("title",artists[2].name);
              artistRight.find(".artistName").html(artists[2].name);
              artistRight.find(".artistListeners").html("Released Albums : " + artists[2].albums.length);
              artistRight.find(".artistImage").children().attr("src",artists[2].images.artistPage);
            }
            else{
              artistRight.find('.indexArtist').prop("href","#");
              artistRight.find(".indexArtist").attr("title","");
              artistRight.find(".artistName").html("");//
              artistRight.find(".artistListeners").html("");
              artistRight.find(".artistImage").children().attr("src","");
            }
          }
        });
      });

      $(".artistFrames").mouseenter(function(){
        $(this).find(".artistHover").css({"opacity":"1","transform":"scale(1)"});
      });
      $(".artistFrames").mouseleave(function(){
        $(this).find(".artistHover").css({"opacity":"0","transform":"scale(1.2)"});
      });
      $(".music_player_closed").on("click",function(){
        $.ajax({
          url:'/cart',
          method:'get',
          contentType :'aplication/json',
          success : function(response){
            console.log(response.total);
            $(".contentInner").html('');
            for(var i =0;i<response.cart.length;i++)
            {
              $(".contentInner").append('<div class="basket_items"><div class="basket_item_name" data-id="'+response.cart[i].item._id+'">'+i+'. '+response.cart[i].item.name+'</div><div class="price">'+response.cart[i].price+' $</div><div class="basket_item_delete icon-multiply"></div></div>');
            }
            var p = 0;
            if(typeof(response.total) != 'undefined')
            {
                p = response.total;
            }

            $(".contentInner").append('<div class="basket_total">'+p+' $</div>')
            $(".contentInner").append('<div class="basket_checkOut"><a class="icon-credit" href="/checkout" title="check out"</div>');


          },
          complete : function()
          {
            $(".contentInner").perfectScrollbar();
            $(".navRight").css({"display":"block"});
            setTimeout(function(){
                 $(".basket-content").css({"opacity":"1"});
               }, 100);
            $(".basket_items").on("mouseenter",function(){
                var that = $(this);
              $(this).css("background","rgba(255,255,255,0.5)")
              setTimeout(function(){
                that.children(".basket_item_delete").css("opacity","1");
              }, 200);
            });
            $(".basket_items").on("mouseleave",function(){
              var that = $(this);
              that.css("background","rgba(255,255,255,0)")
              setTimeout(function(){
                that.children(".basket_item_delete").css("opacity","0");
              }, 200);
            });
          }
        }).done(function(){
          $(".basket_item_delete").on("click",function(){
            var that = $(this);
            var id = $(this).siblings(".basket_item_name").attr('data-id');
            console.log(id);
            $.ajax({
              url:'/cart/remove/'+id,
              method:'get',
              contentType :'aplication/json',
              success : function(response){

              }
              ,complete: function(){
                that.parent(".basket_items").remove();
              }

            });

          });

        });

      });
      $(".basket-content").on("mouseleave",function(){
        $(".basket-content").css({"opacity":"0"});
        setTimeout(function(){
            $(".navRight").css({"display":"none"});
          }, 400);

      });

  });
  </script>
</head>
<body>
  <div class="wrapper">
    <div class="menuNav">
      <nav>
        <a class="menuNav_links" href="/" title="S"><span class="inBox">Listen</span>Listen</a>
        <a class="menuNav_links" href="/" title="S"><span class="inBox">Shop</span>Shop</a>
        <a class="menuNav_links" href="#" title="S"><span class="inBox">Events</span>Events</a>
      </nav>
      <% if(!user) { %>
        <div class="login_register">
            <a class="login_register_links" href="/users/login" title="S"><span class="inBox">Login</span>Login</a>
            <a class="login_register_links" href="/users/register" title="S"><span class="inBox">Register</span>Register</a>
        </div>
      <%} %>
      <% if(user) { %>
        <div class="login_register">
            <a class="login_register_links" href="/users/register" title="S"><span class="inBox"><%=user.name%></span><%=user.name%></a>
            <a class="login_register_links" href="/users/logout" title="S"><span class="inBox">Login</span>LogOut</a>
        </div>
      <%} %>
    </div>
    <div class="navLeft">
      <div class="menu">
        <div id="menu_bar1" class="menu_bars"></div>
        <div id="menu_bar2" class="menu_bars"></div>
        <div id="menu_bar3" class="menu_bars"></div>
      </div>
      <div class="logo">
        <a href="/"><h1>BB Music</h1></a>
      </div>
    </div>
    <div class="music_player_closed">
      <span class="icon-bagDisc"></span>
    </div>
    <div class="navRight">

      <div class="basket-content">
        <div class="contentInner">

        </div>
      </div>
    </div>
    <div class="bodyContainer">

      <%-body%>
    </div>

  </div>

</body>
</html>
